[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
Obj/
[Bb]in/
[Ll]ogs/

# VS Code
.vscode/

# Rider
.idea/

# Visual Studio
.vs/
*.csproj
*.sln
*.user
*.unityproj

# Unity generated
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# OS
.DS_Store
Thumbs.db

# Crash Reports
sysinfo.txt

# Others
*.log
